@media only screen and (max-width: 600px) {
    #banner {
        width: 100%;
    }
    .results {
        width: 90%;
    }
    form {
        
    }
    input {
        margin: auto;
        text-align: center;
        display: block;
        width: 400px;
        margin-bottom: 20px;
    }
    input[type=text]:focus {
        /* text-align: center; */
        width: 100%;
    }
    .card {
        width: 90%;
        text-align: center;
        padding: auto;
        overflow-x: hidden;
    }
    .meetup {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #arrowOne {
        display: none;
    }
    #arrowTwo {
        display: none;
    }
    footer {
        height: 120px;
    }

    #excl {
        position: absolute;
        bottom: -25px;
        right: -55px;
    }
    .videos {
        margin: auto;
        display: block;
        border: 2px solid silver;
        width: 90%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.68);
    }
}