body {
    background-color: rgb(51, 51, 51);
}

input[type=text] {
    width: 175px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-term {
    background-image: url('images/search.png');
    background-size: 35px;
}

#location {
    background-image: url('images/gpsicon.png');
    background-size: 30px;
}

p {
    font-family: 'Amaranth',
    sans-serif;
}

input[type=text]:focus {
    /* text-align: center; */
    width: 20%;
}

input[type=submit] {
    width: 175px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}

#searchBar {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin-top: 50px;
}

input {
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus {
    outline: none;
    border-color: rgb(204, 0, 1);
    box-shadow: 0 0 10px rgb(204, 0, 1);
}

#submit-btn:hover {
    background: lightblue;
    color: rgb(204, 0, 1);
    font-weight: bold;
}

.results {
    background-color: rgb(204, 0, 1);
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.videos {
    margin: 5px 2px 5px 2px;
    border: 2px solid silver;
    width: 325px;
    height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7),
      0 6px 20px 0 rgba(0, 0, 0, 0.68);

}

.books {
    margin: 10px 20px 10px 20px;
    border: 2px solid silver;
    width: 190px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 07),
      0 6px 20px 0 rgba(0, 0, 0, 0.68);

}

#banner {
    width: 1200px;
    position: relative;
}

#imageBox {
    text-align: center;
}
footer {
    display: none;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgb(204, 0, 1);
    margin-left: 14.888%;
    margin-right: 14.888%;
    margin-top: 100px;
    text-align: center;
    color: white;
    height: 60px;
    overflow: none;
    position: relative;
}

#ext {
    font-size: 100px;
}

#excl {
    position: absolute;
    bottom: -25px;
    right: 250px;

}

#arrowOne {
    width: 75px;
    position: fixed;
    right: 5.555%;
    bottom: 20px;
}

#arrowTwo {
    width: 75px;
    position: relative;
    right: -60.555%;
    bottom: -40px;
    display: none;
}

figure {
    display: inline-block;
    width: 330px;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}
 
.meetup {
   margin: 5px 2px 5px 2px;
   border: 2px solid silver;
   width: 325px;
   height: 220px;
}

.card {
    transition: 0.3s;
    width: 600px;
    height: 500px;
    overflow: auto;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    background-color: rgba(192, 192, 192, 0.7);
    border: 3px solid silver;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.card:hover {
    box-shadow: 0 0 8px 3px #fff;
}

.container {
    padding: 2px 16px;
}

.itemsContainer {
    background: red;
    /* float: left; */
    position: relative
}

.itemsContainer:hover .play {
    display: inline;
}

.play {
    position: absolute;
    display: none;
    top: 25%;
    width: 40px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100
}

.play-btn {
    width: 100px;
    opacity: 0.7;
}

@media only screen and (max-width: 450px) {
    #banner {
        width: 100%;
    }
    input {
        height: 30px;
        width: 100px;
    }

}