body {
    background-color: rgb(51, 51, 51);
}

input[type=text] {
    width: 175px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('/images/search.png');
    background-size: 35px; */
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-term {
    background-image: url('/images/search.png');
    background-size: 35px;
}

#location {
    background-image: url('/images/gpsicon.png');
    background-size: 30px;
}

input[type=text]:focus {
    /* text-align: center; */
    width: 30%;
}

input[type=submit] {
    width: 175px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}

#searchBar {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin-top: 50px;
}

input {
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus {
    outline: none;
    border-color: rgb(204, 0, 1);
    box-shadow: 0 0 10px rgb(204, 0, 1);
}

#submit-btn:hover {
    background: green;
    color: white;
}

.results {
    background-color: rgb(204, 0, 1);
    margin-top: 20px;
    margin-left: 14%;
    margin-right: 14%;
}

#videos {
    margin: 2px 2px 2px 2px;
    border: 2px solid silver;
    width: 325px;
    height: 170px;
}

#banner {
    width: 1200px;
    position: relative;
}

#imageBox {
    text-align: center;
}

#foot {
    font-family: 'Barlow',
    sans-serif;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgb(204, 0, 1);
    margin-left: 14.888%;
    margin-right: 14.888%;
    margin-top: 325px;
    text-align: center;
    color: white;
    height: 60px;
    overflow: none;
    position: relative;
}

#ext {
    font-size: 100px;
}

#excl {
    position: absolute;
    bottom: -25px;

}